body {
    margin: 0;
    background: rgb(105,105,105);
    background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%);  
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.outer-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-basis: 88vw; 
    flex-shrink: 1;
    padding: 0; 
}

.odin-background {
    background-image:url(./src/unsplash.jpg); 
    background-size: cover;
    display: flex;
    flex-direction: row; 
    height: 100vh;
    flex-basis: 500px; 
    min-width: 480px;  
}

.text {
    background-color: rgb(235, 235, 235);  
    height: 300px;   
    padding: 70px 60px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.input-container {
    background-color: white;
    display: flex;
    align-items: center;
    height:150px;
    padding: 30px;
}

.input {
    box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.5);
    position:relative;
    

}

.container {  
    margin: 30px;
    width: 250px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    column-gap: 10px;;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

div input {
    margin-bottom: 15px; 
    border-radius: 5px;;
}

div label {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button:hover {
    background-color: rgb(67, 67, 67);
    color: white;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 5px; 
    font-size: 15px; 
    font-weight: 600;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    position:relative;
}

.btn p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





.btn {
    background-color: rgb(235, 235, 235);  
    padding: 60px;
}

.main-container {
    width: 100%
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 480px;
    flex-basis:60%;
    flex-shrink: 2;
    height: 100vh;
    
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.odin-img img {
    height: 100px;
    width: 80px;  
     
}

.odin-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color:rgb(0,0,0, 0.4);
    width: 500px;
    margin-top: 200px; 
}

.msg {
    padding-top: 30px;
}

h2 {
    background-color: white;
    margin: 0;
    padding-left:60px;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

