body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(105,105,105);
    background: linear-gradient(0deg, rgba(105,105,105,1) 0%, rgba(0,0,0,1) 100%);  
    display: flex;
    justify-content: center;
    align-content: center;   
}

.outer-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    flex-basis: 88vw; 
    flex-shrink: 1;
    padding: 0; 
    margin: 0;
}

.odin-background {
    background-image:url(./src/comp-2.jpg); 
    background-size: cover;
    display: flex;
    flex-direction: row; 
    height: 100vh;
    flex-basis: 500px; 
    min-width: 480px;  
}

.text {
    background-color: rgb(237, 236, 236);  
    height: 290px;   
    padding: 120px 60px 20px 60px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.input-container {
    background-color: white;
    display: flex;
    align-items: center;
    height:150px;
    padding: 30px;
}

input:focus{
    background-color:rgb(221, 241, 249);
}

input {
    height: 25px;
    border: 0.5px solid black; 
    border-radius: 5px;
    margin-bottom: 15px; 
}

.input {
    box-shadow: 5px 5px  5px rgba(0, 0, 0, 0.5);
    position:relative;   
}

input:invalid {
    box-shadow: 0 0 2px 1px red;
}

.container {  
    margin: 30px;
    width: 250px;
}

.container-1 {
    display: flex;
    flex-direction: column;    
}

.container-2 {
    display: flex;
    flex-direction: column;   
}

div label {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: rgb(67, 67, 67);
    color: white;
}

button {
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 150px;
    border-radius: 5px; 
    font-size: 17px; 
    font-weight: 500;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    position:relative;
}

.btn p {
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
    background-color: rgb(235, 234, 234);  
    padding: 60px;
}

.main-container {
    width: 100%
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    flex-basis:60%;
    flex-shrink: 2;
    height: 100vh;   
}

h1 {
    color: white;
    font-size: 40px;
    font-family: 'Aboreto', cursive;   
}

.odin-img img {
    height: 100px;
    width: 80px;      
}

.odin-img {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:30px;
    width: 500px;    
}

.msg {
    padding-top: 30px;
}

h2 {
    background-color: white;
    margin: 0;
    padding-left:60px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    color: rgb(181, 181, 181);
}

h6 a {
    color: rgb(181, 181, 181);
}
